# Ignore virtual environments
.venv/

# Ignore pycache
__pycache__/
pycache/

# Ignore text documents except requirements.txt
*.txt
!requirements.txt

# Don't track 'temporary' generated images stored locally
/data/*