# Ignore virtual environments
.venv/

# Ignore pycache
__pycache__/
pycache/

# Ignore text documents except requirements.txt
*.txt
!requirements.txt

# Ignore logs except for .log itself
*.log
!.log

# Ignore 'temporary' generated images stored locally
/data/*/*.png

# Ignore local VS Code project settings
.vscode/