certifi==2021.5.30
charset-normalizer==2.0.6
ibm-cloud-sdk-core==3.11.3
ibmcloudant==0.0.37
idna==3.2
numpy==1.21.2
opencv-python==4.5.3.56
Pillow==8.3.2
PyJWT==2.1.0
pyscard==2.0.2
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
pywin32==301
requests==2.26.0
six==1.16.0
urllib3==1.26.7
